project_id = "cx-sa-lab"
region     = "us-west1"

network = "np-66093-bc554453-0e5f-4e48-8311-dfdce05898d7"
subnet  = "nr-56404-55993-36039a2a-dbde-45a7-ab88-a075350f093d"

nat_subnet_cidr = "10.0.201.0/24"
name_prefix     = "scylla-psc"

nodes = [
  {
    instance_self_link = "projects/cx-sa-lab/zones/us-west1-a/instances/scylla-cloud-45344-node-3-48cfe68e3619bfe02cfc"
    client_port        = 9001
    backend_port       = 9042
  },
  {
    instance_self_link = "projects/cx-sa-lab/zones/us-west1-b/instances/scylla-cloud-45344-node-4-48cfe68e3619bfe02cfc"
    client_port        = 9002
    backend_port       = 9042
  },
  {
    instance_self_link = "projects/cx-sa-lab/zones/us-west1-c/instances/scylla-cloud-45344-node-5-48cfe68e3619bfe02cfc"
    client_port        = 9003
    backend_port       = 9042
  },
]

connection_preference = "ACCEPT_AUTOMATIC"
