project_id = "cx-sa-lab"
region     = "us-west1"

network = "default"
subnet  = "default"

# Output from the producer module
service_attachment_id = "projects/cx-sa-lab/regions/us-west1/serviceAttachments/scylla-psc-sa"

name_prefix = "scylla-psc"
dns_domain  = "cluster-1.scylladb.com"

nodes = [
  { name = "node-0", port = 9001 },
  { name = "node-1", port = 9002 },
  { name = "node-2", port = 9003 },
]
